* {
  margin: 0 auto;
}

html {
  font-size: 16px;
}

.thirdPageHeader {
  margin-bottom: 2rem;
}

.thirdPageHH {
  margin-left: 40rem;
}

.thirdPageMain {
  display: grid;
  grid-template-columns: 22rem 96rem;
  grid-template-rows: 50rem 10rem;
  margin-bottom: 2.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #333;
  width: auto;
  height: 45rem;
  background: #555;
  color: #fff;
}

.username-chat-area {
  grid-column: 1/2;
  border: 2px solid blue;
  width: 20rem;
  margin: 1rem;
  height: 43rem;
}

.username-chat-input {
  grid-column: 1;
  grid-row: 2;
  min-height: 8%;
  margin-left: 1rem;
  margin-top: 40rem;
}

.username-chat-form__input {
  vertical-align: middle;
  background: #333;
  color: #fff;
  border: 0;
  display: inline-block;
  margin: 1px;
  width: 15rem;
  height: 1.5rem;
}

.username-chat-form__submit {
  width: 3rem;
}

.message-chat-area {
  grid-column: 2/2;
  border: 2px solid blue;
  width: 93rem;
  margin: 1rem;
  height: 43rem;
}

.message-chat-input {
  grid-column: 2;
  grid-row: 2;
  min-height: 8%;
  margin-left: 1rem;
  margin-top: 40rem;
}

.message-chat-form__input {
  vertical-align: middle;
  background: #333;
  color: #fff;
  border: 0;
  display: inline-block;
  width: 87rem;
  height: 1.5rem;
}

.message-chat-form__submit {
  width: 4rem;
}

.footer {
  margin-left: 50rem;
}
