* {
  margin: 0 auto;
}

html {
  font-size: 16px;
}

.weather {
  display: grid;
  grid-template-columns: repeat(3, 32.5rem) 22rem;
  grid-template-rows: 8rem 40rem;
  width: 1450px;
  margin: 0 auto;
}

.inpuField {
  grid-column: 1;
  grid-row: 1/2;
}

.inputSize {
  height: 2.1rem;
  width: 25.1rem;
}

.inpuFieldButton {
  grid-column: 2;
  grid-row: 1/2;
}

.history {
  grid-column: 3;
  grid-row: 1/2;
  text-decoration: underline 2px grey;
}

.selectedCityMap {
  grid-column: 1;
  grid-row: 2/2;
}

.selectedCityWeather {
  grid-column: 2;
  grid-row: 2/2;
}

.memorizedCities {
  grid-column: 3;
  grid-row: 2/2;
}
