* {
  margin: 0 auto;
}

html {
  font-size: 16px;
}

.firstPagesHeader {
  margin-left: 40rem;
}

.articlesHeader {
  margin-left: 55rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: 15rem, 100rem;
  width: 1750px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 25rem;
}

.gridItem {
  text-align: center;
}

.gridItemHeader {
  margin-bottom: 1rem;
}

.footer {
  margin-left: 50rem;
}
